.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 47px 100px 98px 70px;

  .router-link {
    color: #00A9E0;
    text-decoration: none;
  }

  &__navigation {
    display: flex;
    gap: 10px;
  }

  &__body {
    display: flex;
    gap: 100px;

    &-image {
      border-radius: 24px;
      border: 1px solid rgba(179, 179, 179, .5);
      width: 640px;

      &--no-border {
        border: none;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &-header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-right: 35px;

        &-title,
        &-manufacturer {
          word-break: break-word;
        }
      }

      &-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #F2F3F6;
        border-radius: 24px;
        row-gap: 24px;
        padding: 40px;

        &-item {
          display: flex;
          flex: 50%;
          flex-direction: column;
          gap: 8px;
        }
      }
    }
  }
}