@import 'src/styles/colors/colors';
@import 'src/styles/common';

$container-gap: 25px;
$container-padding: 47px 100px 98px 70px;

$container-navigation-gap: 10px;
$container-navigation-body-gap: 100px;
$container-navigation-body-content-gap: 40px;
$container-navigation-body-content-header-gap: 16px;
$container-navigation-body-content-header-padding: 35px;
$container-navigation-body-content-info-gap: 24px;
$container-navigation-body-content-info-padding: 40px;
$container-navigation-body-content-info-item-gap: 8px;

.container {
  gap: $container-gap;
  padding: $container-padding;

  .router-link {
    color: $blue-700;
  }

  &__navigation {
    gap: $container-navigation-gap;
  }

  &__body {
    gap: $container-navigation-body-gap;

    &-image {
      border-radius: $default-border-radius * 3;
      border: 1px solid $gray-600;
      width: $default-image-size;

      &--no-border {
        border: none;
      }
    }

    &-content {
      gap: $container-navigation-body-content-gap;

      &-header {
        gap: $container-navigation-body-content-header-gap;
        padding-right: $container-navigation-body-content-header-padding;

        &-title,
        &-manufacturer {
          word-break: break-word;
        }
      }

      &-info {
        background: $gray-200;
        border-radius: $default-border-radius * 3;
        row-gap: $container-navigation-body-content-info-gap;
        padding: $container-navigation-body-content-info-padding;

        &-item {
          flex: 50%;
          gap: $container-navigation-body-content-info-item-gap;
        }
      }
    }
  }
}