<app-spinner [spin]="isLoading">
  <div class="container">
    <a class="router-link" routerLink="/">
      <div class="container__navigation">
        <img src="assets/icons/arrow.svg" alt="" />
        <span class="gmat-subheading-1">Back to bikes</span>
      </div>
    </a>

    <div class="container__body">
      <img
        class="container__body-image"
        src="{{
          detailedBike?.large_img ? detailedBike?.large_img : 'assets/images/no-image-large.png'
        }}"
        alt=""
        [ngClass]="{ 'container__body-image--no-border': detailedBike?.large_img }" />

      <div class="container__body-content">
        <div class="container__body-content-header">
          <span class="container__body-content-header-title gmat-display-1">
            {{ detailedBike?.frame_model }}
          </span>
          <span class="container__body-content-header-manufacturer gmat-body-1">
            {{ detailedBike?.description }}
          </span>
        </div>

        <div class="container__body-content-info">
          <div class="container__body-content-info-item" *ngFor="let item of infoItems">
            <span class="gmat-subheading-1">{{ item.title }}</span>
            <span class="gmat-body-1">
              {{ !detailedBike ? '' : (detailedBike[item.field] | bikeField) }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-spinner>
