<div class="container">
  <div class="container__navigation">
    <img src="assets/icons/arrow.svg" alt="" />
    <span class="container__navigation-text gmat-subheading-1">Back to bikes</span>
  </div>

  <div class="container__body">
    <div class="container__body-image">
      <img src="{{ detailedBike.large_img }}" alt="" />
    </div>

    <div class="container__body-content">
      <div class="container__body-content-header">
        <span class="container__body-content-header-title gmat-display-1">
          {{ detailedBike.frame_model }}
        </span>
        <span class="container__body-content-header-manufacturer gmat-body-1">
          {{ detailedBike.description }}
        </span>
      </div>

      <div class="container__body-content-info">
        <div class="container__body-content-info-item" *ngFor="let item of infoItems">
          <span class="gmat-subheading-1">{{ item.title }}</span>
          <span class="gmat-body-1">
            {{ detailedBike[item.field] | handlebar }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
