$default-thumb-size: 420px;
$default-image-size: 640px;
$default-border-radius: 8px;

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.block {
  display: block;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

.absolute {
  position: absolute;
}

.w-100 {
  width: 100%;
}

.w-fit {
  max-width: fit-content;
}

.h-100 {
  width: 100%;
}

.transition-in {
  transition: 0.2s ease-in;
}

.transition-out {
  transition: 0.4s ease-out;
}
