@use "@angular/material" as mat;
@use "../gmat-typography/typography" as typography;
@import 'src/styles/colors/colors';

.mat-option {
  @include mat.typography-level(typography.$custom-typography-config, body-1);
  color: $default-text-color;
}

.mat-autocomplete-panel {
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  color: $default-text-color;
  margin-top: -5px;
}
