@import 'src/styles/colors/colors';
@import 'src/styles/common';

$container-thumbnail-margin-bottom: 32px;

$container-thumbnail-label-margin: 16px;
$container-thumbnail-label-padding: 6px;

$container-title-margin-bottom: 20px;

$container-info-gap: 12px;

.container {
  &__thumbnail {
    max-width: $default-thumb-size;
    max-height: $default-thumb-size;
    border: 1px solid $gray-600;
    border-radius: $default-border-radius * 3;
    overflow: hidden;
    margin-bottom: $container-thumbnail-margin-bottom;

    &--no-border {
      border: none;
    }

    &-label {
      background: $blue-100;
      border-radius: $default-border-radius;
      margin: $container-thumbnail-label-margin;
      padding: $container-thumbnail-label-padding $container-thumbnail-label-padding * 2;

      &-text {
        color: $blue-700;
      }
    }

    &-wrapper {
      &-image {
        width: $default-thumb-size;
        height: $default-thumb-size;
        border-radius: $default-border-radius * 3;
      }
    }
  }

  &__title {
    margin-bottom: $container-title-margin-bottom;
  }

  &__info {
    gap: $container-info-gap;
  }

  &:hover {
    .container__thumbnail-wrapper-image {
      height: $default-thumb-size + 30px;
      width: $default-thumb-size + 30px;
      transition: 0.4s ease-out;
    }

    .container__title {
      transition: 0.4s ease-out;
      color: $blue-700;
    }
  }
}
