@import 'src/styles/functions/converters';
@import 'src/styles/colors/colors';
@import 'src/styles/common';

$container-gap: toRem(10);
$container-body-content-gap: toRem(32);
$container-body-content-title-width: toRem(450);
$container-body-content-search-gap: 8px;
$container-body-content-search-form-width: 380px;
$container-body-content-search-form-field-icon-margin-left: -30px;
$container-body-content-search-form-field-icon-margin-top: -4px;
$container-body-content-search-button-radius: 12px;
$container-body-content-search-button-padding: 21px 55px;
$container-body-content-search-button-margin-bottom: 23px;

.container {
  gap: $container-gap;
  height: 100vh;
  overflow: hidden;
  background-color: $gray-200;

  &__body {
    &-content {
      gap: $container-body-content-gap;

      &-title {
        max-width: $container-body-content-title-width;
      }
      
      &-search {
        gap: $container-body-content-search-gap;

        &-form {
          width: $container-body-content-search-form-width;

          &-field {
            width: inherit;

            &-icon {
              margin-left: $container-body-content-search-form-field-icon-margin-left;
              margin-top: $container-body-content-search-form-field-icon-margin-top;
            }
          }
        }

        &-button {
          background: $blue-700;
          border-radius: $container-body-content-search-button-radius;
          border: none;
          color: white;
          cursor: pointer;
          padding: $container-body-content-search-button-padding;
          margin-bottom: $container-body-content-search-button-margin-bottom;
        }
      }
    }
  }
}
